{% extends 'base.html' %}

{% block title %}
    Контакты
{% endblock %}

{% block content %}
<div class="container p-4">
    <h2>Контакты</h2>
    <p class="contact-link my-5"><i class="fa-solid fa-phone"></i> Телефон <a href="tel:+79998463121">+7 (999) 846-31-21</a></p>
    <p class="contact-link my-5"><i class="fa-solid fa-envelope"></i> E-mail <a href="mailto:marussia26@yandex.ru">marussia26@yandex.ru</a></p>
    <p class="contact-link my-5"><i class="fa-brands fa-telegram"></i> Telegram <a href="https://t.me/MarYu26">@MarYu26</a></p>
    <p class="contact-link my-5"><i class="fa-brands fa-whatsapp"></i> WhatsApp <a href="https://wa.link/wu5ooz">Мария</a></p>
    <p class="contact-link my-5"><i class="fa-brands fa-discord"></i> Discord <a href="https://discordapp.com/users/757107380688519218/">Mary26#9936</a></p>
    <h2>Спасибо!</h2>
</div>
{% endblock %}