<div class="modal-dialog modal-xl modal-dialog-centered">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{ project.title }}</h5>
            <button type="button" id="btn-close"  class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
        </div>
        <div class="modal-body">
            <p>{{ project.description }}</p>
            <div class="row">
                {% for image in project.images.all %}
                    <div class="col-md-4"> <div class="project-image" style="background-image: url('{{image.image.url}}')"></div></div>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
            {% if project.github_link %}
                <a class="btn btn-link" href="{{project.github_link}}">Ссылка на гитхаб</a>
            {% endif %}
            {% if project.website_link %}
                <a class="btn btn-link" href="{{project.website_link}}">Ссылка на сайт</a>
            {% endif %}
            {% if project.file %}
                <a class="btn btn-link" href="{{project.file.url}}">Скачать</a>
            {% endif %}
        </div>
    </div>
</div>